<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>About Me</title>
</head>
<body>
    <h1>Description</h1>
    <p>A 4th year Bahraini programming student at Bahrain Polytechnic, I have experience in several programming languages such as Swift, Java, JavaScript, C#, and multiple technologies that include XCode, GitHub, etc. In the future, I hope to become a software developer.</p>
    <a href="./">Home Page</a>
</body>
</html>